/*fonts fams
font-family: 'Inknut Antiqua', serif;
font-family: 'Jaldi', sans-serif;
font-family: 'JetBrains Mono', monospace;
*/

body{
    justify-content: center;
}
header{
    background: rgb(102,122,105);
    background: linear-gradient(180deg, rgba(102,122,105,1) 0%, rgba(199,218,202,1) 50%, rgba(102,122,105,1) 100%);
}
header h1{
    margin-top: 0px;
    padding:15px;
    font-family: 'Inknut Antiqua', serif;
    font-size: 70px;
    text-align: center;

    animation:pulse 2.25s infinite;
    animation-timing-function: linear;

    color:white
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);}
    100% { transform: scale(1); }
    }

#banner{
    max-width: 1100px;
    max-height: 25px;
    justify-content: center;
    text-align: center;
    color:white;
}

body{
    cursor:default;
    background-color:#D4E1D6;
    justify-content: center;
}
main{
    padding:30px 0px 30px 0px;
    display:flex;
    gap:25px;
}
main section{
    flex:1;
    flex-direction: column;
}

main section article{
    text-align: center;
}

main section h2{
    font-family: 'JetBrains Mono', monospace;
    font-size: 25px;
}

main section ul li{
    list-style: none;
}
main section ul li a{
    text-decoration: none;
    font-family: 'Jaldi', sans-serif;
    color:black;
}
main section ul li a:hover{
    text-decoration:underline;
    background-color: #a6c6ac;
    transition: 3s;
}
footer{
    display: flex;
    padding: 20px;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    background: rgb(182,210,187);
    background: linear-gradient(180deg, rgba(182,210,187,1) 0%, rgba(212,225,214,1) 100%);
    text-decoration: none;
    color:black;
}
footer div{
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width : 100px;
}
footer div a{
    text-decoration: none;
    color:black;
}

footer div:hover{
    animation: rotate 95ms infinite /*initial? just once or twice*/;
    animation-timing-function: linear;
    background-color: #a6c6ac;
    transition: 3s;
  }
  
  @keyframes rotate {
    0% { transform: rotate(0.6deg); }
    50% { transform: rotate(-0.65deg); }
    100% { transform: rotate(0.65deg); }
  }