body {
    text-align: center;
    color: #333;
    background-color: khaki;
}

h1 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #eca006;
}

h2, p {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #eca006;
}

#score span {
    font-weight: bold;
}

#game {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
    gap: 20px;
    justify-content: center;
}

#game div{
    width: 100px;
    height: 100px;
    border-radius: 15%;
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#game div img{
    width: 100px;
    height: 100px;
    border-radius: 15%;
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/*
#pad1 { background-color: #970321;}
#pad2 { background-color: #05057b;}
#pad3 { background-color: #b59e0d;}
#pad4 { background-color: #154d25;}
#pad5 { background-color: #1dac8d;}
#pad6 { background-color: #ac8b1d;}
#pad7 { background-color: #724a64;}
#pad8 { background-color: #dc69b2;}
#pad9 { background-color: #2e041f;}
*/

#pad1 { background-image: url(images/bellav.jpg); background-size: cover;}
#pad2 { background-image: url(images/cam.jpg); background-size: cover;}
#pad3 { background-image: url(images/chedd.jpg); background-size: cover;}
#pad4 { background-image: url(images/dub.jpg); background-size: cover;}
#pad5 { background-image: url(images/humfog.jpg); background-size: cover;}
#pad6 { background-image: url(images/jarlsberg.jpg); background-size: cover;}
#pad7 { background-image: url(images/oldam.jpg); background-size: cover;}
#pad8 { background-image: url(images/parm.jpg); background-size: cover;}
#pad9 { background-image: url(images/provolone.jpg); background-size: cover;}
#game div:hover {
    cursor: pointer;
}

.on {
    opacity: 0.4;
    transform: scale(30%);
}

#action a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: rgb(245, 238, 173);
    border: 2px solid #eca006;
    border-radius: 5px;
    width: 100px;
    margin: auto;
    color: #eca006;
    font-weight: bold;
}

/*
<img src="images/provolone.jpg" alt="provolone">
<img src="images/parm.jpg" alt="parm">
<img src="images/oldam.jpg" alt="oldam">
<img src="images/jarlsberg.jpg" alt="jarlsberg">
<img src="images/humfog.jpg" alt="humfog">
<img src="images/dub.jpg" alt="dub">
<img src="images/chedd.jpg" alt="chedd">
<img src="images/cam.jpg" alt="cam">
<img src="images/bellav.jpg" alt="bellav">
*/