body {
  padding: 20px;
  margin: 0;
  padding-bottom: 0;
}

h1{
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36pt;
  color:#396139;
  margin-bottom:0;
  margin-top:5px;
}

header{
  text-align: center;
}

h2{
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:20pt;
  color:#87A922;
  margin-top:0;
}

p{
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
}

img{
  display: block;
  height:550px;
  width:auto;
  border-radius: 25px;
  filter: grayscale(85%);
  transition: all 0.3s ease;
  border: 7px solid #87A922;
}
/*
article {
  box-sizing: border-box;
  width: 500px;
  border: 4px solid #ebdb72;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  opacity: 0;
  transition: 1s;
} */

.show {
  opacity: 1; 
  transition: 1s; 
}

article p {
  line-height: 1.5em;
  margin-bottom: 0;
}

main {
  background-color: #917649; 
  height: 600px;
  padding: 0;
}

img:hover {
  filter: grayscale(0%);
}


/* added for final*/

:root {
--sliderwidth: ;
}

@keyframes moveSlider {
from { left: 0; }
to { left: var(--sliderwidth) }
}
.animate {
animation-name: moveSlider;
animation-duration: 30s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

article img { 
display: block;
width:200px;
height:auto;
border-radius: 50%;
padding:10px;
}

/* I added this for the section */
#one {
width: 100%;
overflow-x: hidden;
padding-top: 10%; /* Added space above slider */
padding-bottom: 10%; /* Added space below slider*/
height: 100%;
position: relative;
/*add something here to give space on top of section: margins or padding?*/
}


/* to make it go right, just change the left property to right */
.slider {
display: flex;
position: absolute;
top:10%;
left: 0; /* this is the only change! */
bottom:10%;
height: 50%;  /*Height of slider*/
/* transition: all 60s linear; */
}

.sliderpaused {
display: flex;
position: absolute;
top:0;
/*right: 0;  this is the only change! */
height: 200px;
}

.slider div img {
height: 100%;

display: block;
margin-right: 20px;
}

.a, .b {
display: flex;
height: 100%;
}

/* Overlay styling */

.hidden {
visibility: hidden;
opacity: 0;
}

.showing {
visibility: showing;
opacity: 1;
}

.overlay {
position: absolute;
background-color: rgba(0,0,0,0.5);
top: 0;
left: 0;
width: 100vw;
height: 100vh;
transition-property: visibility, opacity;
transition-duration: 1s;
transition-timing-function: ease;
display: grid;
place-content:center;

}

.overlay article {
box-sizing: border-box;
width: 1075px;
border: 7px solid #B19470;
padding: 35px;
background-color: white;
border-radius: 10px;
margin-bottom: 30px;
transition: 1s;

display: flex;
align-items: flex-start;
gap: 30px;
position: relative;
box-shadow: 0px 0px 20px 0px #000000;  
}

.overlay article img, .overlay article div {
width: 50%;
}
.overlay article p{
  line-height: 2em;
}


.corner {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#87A922;
font-size: 20px;
margin: 0;
padding: 0;
border:none;
background-color: transparent;
color:#87A922;
position: absolute;
bottom: 20px;
right: 25px;
cursor: pointer;
outline: none;
}